<template>
  <div class="container">
    <h1 class="title">Coins</h1>
    <div class="tags are-medium">
      <span v-for="coin in coins" :key="coin.id" class="tag is-primary">
        <span class="icon-text">
          <span>{{ coin.name }} ({{ coin.symbol }})</span>
          <span class="icon ml-3 mr-0 pointer" @click="onEdit(coin)">
            <i class="fa fa-pencil-alt"></i>
          </span>
          <span class="icon ml-0 pointer" @click="onDelete(coin)">
            <i class="fa fa-trash"></i>
          </span>
        </span>
      </span>
    </div>
    <div class="button is-primary is-outlined" @click="onAdd">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
      <span>Add</span>
    </div>

    <div class="modal" :class="{ 'is-active': showFormModal }" v-if="showFormModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <coin-form :_coin="selectedCoin" @submit="onFormSubmit" @cancel="closeFormModal"/>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeFormModal"></button>
    </div>

    <confirm-modal v-if="showDeleteModal" @confirm="deleteCoin" @cancel="closeDeleteModal">
      <p>Are you sure you want to delete {{ selectedCoin.name }}?</p>
    </confirm-modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import CoinForm from "@/components/forms/CoinForm";
import ConfirmModal from "../components/ConfirmModal";
import { toast } from "bulma-toast";

export default {
  name: "Coins",
  components: {ConfirmModal, CoinForm},
  computed: {
    ...mapGetters(['coins'])
  },
  data() {
    return {
      showFormModal: false,
      showDeleteModal: false,
      selectedCoin: null
    }
  },
  methods: {
    onAdd() {
      this.showFormModal = true;
    },
    onEdit(coin) {
      this.selectedCoin = coin;
      this.showFormModal = true;
    },
    onDelete(coin) {
      this.selectedCoin = coin;
      this.showDeleteModal = true;
    },
    closeFormModal() {
      this.selectedCoin = null;
      this.showFormModal = false;
    },
    closeDeleteModal() {
      this.showDeleteModal = false;
      this.selectedCoin = null;
    },
    onFormSubmit(coin) {
      if (!this.selectedCoin) {
        this.$http.post('/coins', coin).then(() => {
          this.$store.dispatch('fetchCoins');
          this.closeFormModal();
          toast({
            message: 'Coin successfully added.',
            type: 'is-success',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }).catch(err => {
          if (err.response && err.response.status === 409) {
            toast({
              message: 'The symbol is already registered for another coin.',
              type: 'is-danger',
              dismissible: true,
              animate: { in: 'fadeIn', out: 'fadeOut' }
            });
          } else {
            toast({
              message: 'An unknown error occurred. Please try again later.',
              type: 'is-danger',
              dismissible: true,
              animate: { in: 'fadeIn', out: 'fadeOut' }
            });
          }
        });
      } else {
        this.$http.put(`/coins/${this.selectedCoin.id}`, coin).then(() => {
          this.$store.dispatch('fetchCoins');
          this.closeFormModal();
          toast({
            message: 'Coin successfully updated.',
            type: 'is-success',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }).catch(err => {
          if (err.response && err.response.status === 409) {
            toast({
              message: 'The symbol is already registered for another coin.',
              type: 'is-danger',
              dismissible: true,
              animate: {in: 'fadeIn', out: 'fadeOut'}
            });
          } else {
            toast({
              message: 'An unknown error occurred. Please try again later.',
              type: 'is-danger',
              dismissible: true,
              animate: {in: 'fadeIn', out: 'fadeOut'}
            });
          }
        });
      }
    },
    deleteCoin() {
      this.$http.delete(`/coins/${this.selectedCoin.id}`).then(() => {
        this.$store.dispatch('fetchCoins');
        this.closeDeleteModal();
        toast({
          message: 'Coin successfully deleted.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(() => {
        toast({
          message: 'An unknown error occurred. Please try again later.',
          type: 'is-danger',
          dismissible: true,
          animate: {in: 'fadeIn', out: 'fadeOut'}
        });
      });
    }
  }
}
</script>
