<template>
  <div>
    <div class="container" v-if="selectedPortfolio">
      <div class="columns">
        <div class="column is-two-thirds is-full-mobile">
          <h1 class="title">{{ selectedPortfolio.name }}</h1>
          <p class="subtitle">Total value: € {{ totalValue.toFixed(2) }}</p>
          <div class="buttons">
            <div class="button is-primary" @click="showTransactionModal = true">Add transaction</div>
            <div class="button is-primary" @click="showTradeModal = true">Add trade</div>
          </div>
          <table class="table coin-table is-fullwidth is-hoverable">
            <thead>
            <tr>
              <th>Coin</th>
              <th>Amount</th>
              <th>Current value</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pcoin in portfolioCoins" :key="pcoin.coin.id" @click="goToCoinPage(pcoin.coin.id)">
              <td>{{ pcoin.coin.name }} ({{ pcoin.coin.symbol }})</td>
              <td>{{ pcoin.amount / Math.pow(10, pcoin.coin.decimals) }}</td>
              <td>
                <template v-if="pcoin.current_price === -1">€ ?</template>
                <template v-else>€ {{ (pcoin.amount * pcoin.current_price / Math.pow(10, pcoin.coin.decimals)).toFixed(2) }}</template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="column is-one-third is-full-mobile">
          <pie-chart :chartdata="chartData"></pie-chart>
        </div>
      </div>
    </div>

    <div class="container" v-else>
      <div class="notification">
        Please select a portfolio. You can select or create one at the top right.
      </div>
    </div>

    <div class="modal" :class="{ 'is-active': showTransactionModal }" v-if="showTransactionModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <transaction-form @submit="onAddTransaction" @cancel="closeTransactionModal"/>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeTransactionModal"></button>
    </div>

    <div class="modal" :class="{ 'is-active': showTradeModal }" v-if="showTradeModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <trade-form @submit="onAddTrade" @cancel="closeTradeModal"/>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeTradeModal"></button>
    </div>
  </div>
</template>

<script>
import PortfolioSelector from "@/components/PortfolioSelector";
import { mapGetters } from "vuex";
import PieChart from "../components/PieChart";
import TradeForm from "@/components/forms/TradeForm";
import TransactionForm from "../components/forms/TransactionForm";
import { toast } from "bulma-toast";

export default {
  name: 'Home',
  components: {
    TransactionForm,
    PieChart,
    PortfolioSelector,
    TradeForm
  },
  computed: {
    totalValue() {
      return this.portfolioCoins
          .filter(c => c.current_price !== -1)
          .reduce((acc, curr) => acc + curr.amount * curr.current_price / Math.pow(10, curr.coin.decimals), 0);
    },
    chartData() {
      return {
        labels: this.portfolioCoins.filter(c => c.amount > 0).map(c => c.coin.symbol),
        datasets: [
          {
            label: this.selectedPortfolio.name,
            data: this.portfolioCoins.filter(c => c.amount > 0).map(c => c.amount * c.current_price / Math.pow(10, c.coin.decimals)),
            backgroundColor: [
              '#f94f4f',
              '#5046fb',
              '#4ff9c9',
              '#69f94f',
              '#f94fb3',
              '#4feef9',
              '#f9f94f',
              '#b34ff9',
              '#f9be4f',
              '#7d7e87'
            ],
            hoverOffset: 4
          }
        ]
      }
    },
    ...mapGetters(['portfolios', 'selectedPortfolio'])
  },
  data() {
    return {
      portfolioCoins: [],
      showTransactionModal: false,
      showTradeModal: false,
    }
  },
  watch: {
    selectedPortfolio(val) {
      if (val) {
        this.fetchPortfolioCoins();
      }
    }
  },
  methods: {
    onAddTransaction(transaction) {
      this.$http.post(`/portfolios/${this.selectedPortfolio.id}/transactions`, transaction).then(() => {
        this.fetchPortfolioCoins();
        this.closeTransactionModal();
        toast({
          message: 'Transaction successfully added.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(() => {
        toast({
          message: 'An unknown error occurred. Please try again later.',
          type: 'is-danger',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      });
    },
    closeTransactionModal() {
      this.showTransactionModal = false;
    },
    onAddTrade(trade) {
      this.$http.post(`/portfolios/${this.selectedPortfolio.id}/trades`, trade).then(() => {
        this.fetchPortfolioCoins();
        this.closeTradeModal();
        toast({
          message: 'Trade successfully added.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(err => {
        if (err.response && err.response.status === 409) {
          toast({
            message: "You don't have enough coins.",
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        } else {
          toast({
            message: 'An unknown error occurred. Please try again later.',
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }
      });
    },
    closeTradeModal() {
      this.showTradeModal = false;
    },
    fetchPortfolioCoins() {
      this.$http.get(`/portfolios/${this.selectedPortfolio.id}/coins`).then(res => {
        this.portfolioCoins = res.data.data.sort((a, b) => {
          const aValue = a.current_price !== -1 ? a.amount * a.current_price / Math.pow(10, a.coin.decimals) : -1;
          const bValue = b.current_price !== -1 ? b.amount * b.current_price / Math.pow(10, b.coin.decimals) : -1;

          if (aValue > bValue) {
            return -1;
          }

          if (bValue > aValue) {
            return 1;
          }

          return a.coin.symbol.localeCompare(b.coin.symbol);
        });
      });
    },
    goToCoinPage(coinID) {
      this.$router.push({ name: 'portfolio-coin', params: { coinID: coinID } });
    }
  },
  created() {
    if (this.selectedPortfolio) {
      this.fetchPortfolioCoins();
    }
  }
}
</script>

<style lang="scss" scoped>
.coin-table {
  margin-top: 1rem;

  th {
    border-color: $primary;
    border-width: 0 0 1px;
  }

  td {
    border: none;
    cursor: pointer;
  }
}
</style>
