<template>
  <div>
    <template v-if="selectedPortfolio">
      <div class="container" v-if="coin">
        <router-link to="/">&#10094; Back</router-link>
        <h1 class="title">{{ coin.coin.name }} ({{ coin.coin.symbol }})</h1>
        <table class="info-table mb-5">
          <tr>
            <th>Amount:</th>
            <td>{{ coin.amount / Math.pow(10, coin.coin.decimals) }} {{ coin.coin.symbol }}</td>
          </tr>
          <tr>
            <th>Price per {{ coin.coin.symbol }}:</th>
            <td>
              <template v-if="coin.current_price === -1">
                € ?
              </template>
              <template v-else>
                € {{ coin.current_price }}
              </template>
            </td>
          </tr>
          <tr>
            <th>Total value:</th>
            <td>€ {{ (coin.amount * coin.current_price / Math.pow(10, coin.coin.decimals)).toFixed(2) }}</td>
          </tr>
        </table>

        <h2 class="is-size-4">Transactions</h2>
        <table class="table transaction-table" v-if="transactions.length > 0">
          <tbody>
          <tr v-for="transaction in transactions" :key="transaction.id">
            <td>
            <span class="icon-text">
              <span class="icon">
                <i v-if="transaction.is_deposit" class="fa fa-plus has-text-success"></i>
                <i v-else class="fa fa-minus has-text-danger"></i>
              </span>
              <span>{{ transaction.amount / Math.pow(10, getCoin(transaction.coin_id).decimals) }} {{ getCoin(transaction.coin_id).symbol }}</span>
            </span>
            </td>
            <td>
            <span class="has-text-grey date-text">
              {{ new Date(transaction.timestamp * 1000).toLocaleString('nl-NL') }}
            </span>
            </td>
            <td>
            <span class="icon pointer" @click="openEditTransactionModal(transaction)">
              <i class="fa fa-pencil-alt"></i>
            </span>
              <span class="icon ml-1 pointer" @click="openDeleteTransactionModal(transaction)">
              <i class="fa fa-trash"></i>
            </span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="notification mt-2" v-else>There are no transactions</div>

        <h2 class="is-size-4">Trades</h2>
        <table class="table trade-table is-fullwidth" v-if="trades.length > 0">
          <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Fee</th>
            <th>Price per {{ coin.coin.symbol }}</th>
            <th>Timestamp</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="trade in trades" :key="trade.id">
            <td>{{ trade.from_amount / Math.pow(10, getCoin(trade.from_coin_id).decimals) }} {{ getCoin(trade.from_coin_id).symbol }}</td>
            <td>{{ trade.to_amount / Math.pow(10, getCoin(trade.to_coin_id).decimals) }} {{ getCoin(trade.to_coin_id).symbol }} </td>
            <td>{{ trade.fee / Math.pow(10, getCoin(trade.from_coin_id).decimals) }} {{ getCoin(trade.from_coin_id).symbol }}</td>
            <td>{{ pricePerCoin(trade) }}</td>
            <td>{{ new Date(trade.timestamp * 1000).toLocaleString('nl-NL') }}</td>
            <td>
            <span class="icon pointer" @click="openEditTradeModal(trade)">
              <i class="fa fa-pencil-alt"></i>
            </span>
              <span class="icon ml-1 pointer" @click="openDeleteTradeModal(trade)">
              <i class="fa fa-trash"></i>
            </span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="notification mt-2" v-else>There are no trades</div>

        <div class="modal" :class="{ 'is-active': showEditTransactionModal }" v-if="showEditTransactionModal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box">
              <transaction-form :_transaction="selectedTransaction" @submit="editTransaction" @cancel="closeEditTransactionModal"/>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="closeEditTransactionModal"></button>
        </div>

        <div class="modal" :class="{ 'is-active': showEditTradeModal }" v-if="showEditTradeModal">
          <div class="modal-background"></div>
          <div class="modal-content">
            <div class="box">
              <trade-form :_trade="selectedTrade" @submit="editTrade" @cancel="closeEditTradeModal"/>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close" @click="closeEditTradeModal"></button>
        </div>

        <confirm-modal v-if="showDeleteTransactionModal" @confirm="deleteTransaction" @cancel="closeDeleteTransactionModal">
          <p>Are you sure you want to delete the transaction at {{ new Date(selectedTransaction.timestamp * 1000).toLocaleString('nl-NL') }}?</p>
        </confirm-modal>

        <confirm-modal v-if="showDeleteTradeModal" @confirm="deleteTrade" @cancel="closeDeleteTradeModal">
          <p>Are you sure you want to delete the trade at {{ new Date(selectedTrade.timestamp * 1000).toLocaleString('nl-NL') }}?</p>
        </confirm-modal>
      </div>
    </template>

    <div class="container" v-else>
      <div class="notification">
        Please select a portfolio. You can select or create one at the top right.
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TransactionForm from "@/components/forms/TransactionForm";
import TradeForm from "@/components/forms/TradeForm";
import ConfirmModal from "@/components/ConfirmModal";
import {toast} from "bulma-toast";

export default {
  name: "PortfolioCoin",
  components: {
    ConfirmModal,
    TransactionForm,
    TradeForm
  },
  props: {
    coinID: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    ...mapGetters(['coins', 'selectedPortfolio'])
  },
  data() {
    return {
      coin: null,
      transactions: [],
      trades: [],
      selectedTransaction: null,
      selectedTrade: null,
      showEditTransactionModal: false,
      showDeleteTransactionModal: false,
      showEditTradeModal: false,
      showDeleteTradeModal: false
    }
  },
  watch: {
    selectedPortfolio(val) {
      if (val) {
        this.fetchAll();
      }
    }
  },
  methods: {
    getCoin(id) {
      if (id === this.coin.id) {
        return this.coin;
      }
      return this.coins.find(c => c.id === id);
    },
    pricePerCoin(trade) {
      const fromCoin = this.getCoin(trade.from_coin_id);
      const toCoin = this.getCoin(trade.to_coin_id);
      const fromPrice = trade.from_amount / Math.pow(10, fromCoin.decimals);
      const toPrice = trade.to_amount / Math.pow(10, toCoin.decimals);
      const fee = trade.fee / Math.pow(10, fromCoin.decimals);
      return fromCoin.id === this.coin.coin.id
          ? `${(toPrice / (fromPrice - fee)).toFixed(toCoin.decimals)} ${toCoin.symbol}`
          : `${((fromPrice - fee) / toPrice).toFixed(fromCoin.decimals)} ${fromCoin.symbol}`;
    },
    fetchAll() {
      this.fetchPortfolioCoin();
      this.fetchTransactions();
      this.fetchTrades();
    },
    fetchPortfolioCoin() {
      this.$http.get(`/portfolios/${this.selectedPortfolio.id}/coins/${this.coinID}`).then(res => {
        this.coin = res.data.data;
      }).catch(() => {
        toast({
          message: 'Unknown coin.',
          type: 'is-warning',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
        this.$router.push({ name: 'home' });
      });
    },
    fetchTransactions() {
      this.$http.get(`/portfolios/${this.selectedPortfolio.id}/coins/${this.coinID}/transactions`).then(res => {
        this.transactions = res.data.data;
      });
    },
    fetchTrades() {
      this.$http.get(`/portfolios/${this.selectedPortfolio.id}/coins/${this.coinID}/trades`).then(res => {
        this.trades = res.data.data;
      });
    },
    openEditTransactionModal(transaction) {
      this.selectedTransaction = transaction;
      this.showEditTransactionModal = true;
    },
    openDeleteTransactionModal(transaction) {
      this.selectedTransaction = transaction;
      this.showDeleteTransactionModal = true;
    },
    closeEditTransactionModal() {
      this.showEditTransactionModal = false;
      this.selectedTransaction = null;
    },
    closeDeleteTransactionModal() {
      this.showDeleteTransactionModal = false;
      this.selectedTransaction = null;
    },
    editTransaction(transaction) {
      this.$http.put(`/portfolios/${this.selectedPortfolio.id}/transactions/${this.selectedTransaction.id}`, transaction).then(() => {
        this.fetchTransactions();
        this.closeEditTransactionModal();
        toast({
          message: 'Transaction successfully updated.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(() => {
        toast({
          message: 'An unknown error occurred. Please try again later.',
          type: 'is-danger',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      });
    },
    deleteTransaction() {
      this.$http.delete(`/portfolios/${this.selectedPortfolio.id}/transactions/${this.selectedTransaction.id}`).then(() => {
        this.fetchTransactions();
        this.closeDeleteTransactionModal();
        toast({
          message: 'Transaction successfully deleted.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(() => {
        toast({
          message: 'An unknown error occurred. Please try again later.',
          type: 'is-danger',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      });
    },
    openEditTradeModal(trade) {
      this.selectedTrade = trade;
      this.showEditTradeModal = true;
    },
    openDeleteTradeModal(trade) {
      this.selectedTrade = trade;
      this.showDeleteTradeModal = true;
    },
    closeEditTradeModal() {
      this.showEditTradeModal = false;
      this.selectedTrade = null;
    },
    closeDeleteTradeModal() {
      this.showDeleteTradeModal = false;
      this.selectedTrade = null;
    },
    editTrade(trade) {
      this.$http.put(`/portfolios/${this.selectedPortfolio.id}/trades/${this.selectedTrade.id}`, trade).then(() => {
        this.fetchTrades();
        this.closeEditTradeModal();
        toast({
          message: 'Trade successfully updated.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(err => {
        if (err.response && err.response.status === 409) {
          toast({
            message: "You don't have enough coins.",
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        } else {
          toast({
            message: 'An unknown error occurred. Please try again later.',
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }
      });
    },
    deleteTrade() {
      this.$http.delete(`/portfolios/${this.selectedPortfolio.id}/trades/${this.selectedTrade.id}`).then(() => {
        this.fetchTrades();
        this.closeDeleteTradeModal();
        toast({
          message: 'Trade successfully deleted.',
          type: 'is-success',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      }).catch(() => {
        toast({
          message: 'An unknown error occurred. Please try again later.',
          type: 'is-danger',
          dismissible: true,
          animate: { in: 'fadeIn', out: 'fadeOut' }
        });
      });
    }
  },
  created() {
    if (this.selectedPortfolio) {
      this.fetchAll();
    }
  }
}
</script>

<style lang="scss" scoped>
.info-table {
  th {
    padding-right: 20px;
  }
}

.transaction-table {
  td {
    border: none;
  }

  td:not(:first-child) {
    padding-left: 2rem;
  }
}

.date-text {
  font-size: 0.8rem;
}

.trade-table {
  th {
    border-color: $primary;
    border-width: 0 0 1px;
  }

  td {
    border: none;
  }
}
</style>
