<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <h1 class="title">Are you sure?</h1>
        <slot></slot>
        <div class="field is-grouped pt-4">
          <div class="control">
            <div class="button is-primary" @click="confirm">Confirm</div>
          </div>
          <div class="control">
            <div class="button is-primary is-outlined" @click="cancel">Cancel</div>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="cancel"></button>
  </div>
</template>

<script>
export default {
  name: "ConfirmModal",
  methods: {
    confirm() {
      this.$emit('confirm');
    },
    cancel() {
      this.$emit('cancel');
    }
  }
}
</script>

<style scoped>

</style>
