<template>
  <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <router-link to="/" class="navbar-item has-text-weight-bold">
        Crypto Dashboard
      </router-link>

      <a role="button" class="navbar-burger" @click="isOpen = !isOpen">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <router-link :to="{ name: 'coins' }" class="navbar-item">
          Coins
        </router-link>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <portfolio-selector/>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import PortfolioSelector from "@/components/PortfolioSelector";

export default {
  name: "Navbar",
  components: {
    PortfolioSelector
  },
  data() {
    return {
      isOpen: false
    }
  }
}
</script>

<style scoped>

</style>
