<template>
  <div>
    <div class="dropdown is-right is-active">
      <div class="dropdown-trigger">
        <div class="button" @click="isOpen = !isOpen">
          <span v-if="selectedPortfolio">{{ selectedPortfolio.name }}</span>
          <span v-else>Select portfolio</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down"></i>
          </span>
        </div>
      </div>
      <div class="dropdown-menu" v-show="isOpen">
        <div class="dropdown-content">
          <div class="dropdown-item" v-for="portfolio in portfolios" :key="portfolio.id">
            <div class="icon-text level">
              <div class="level-left pointer is-flex-grow-1" @click="onSelectPortfolio(portfolio)">
                <span class="level-item" :class="{ 'is-portfolio-active': selectedPortfolio && selectedPortfolio.id === portfolio.id }">
                  {{ portfolio.name }}
                </span>
              </div>
              <div class="level-right">
              <span class="level-item icon pointer pl-4" @click="onEditPortfolio(portfolio)">
                <i class="fa fa-pencil-alt"></i>
              </span>
                <span class="level-item icon pointer ml-0" @click="onDeletePortfolio(portfolio)">
                <i class="fa fa-trash"></i>
              </span>
              </div>
            </div>
          </div>
          <hr class="dropdown-divider">
          <div class="dropdown-item">
            <div class="pointer" @click="onAddPortfolio">
              <span class="icon-text">
                <span class="icon mr-1">
                  <i class="fa fa-plus"></i>
                </span>
                Add
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" :class="{ 'is-active': showFormModal }" v-if="showFormModal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <portfolio-form :_portfolio="editedPortfolio" @submit="onFormSubmit" @cancel="closeFormModal"/>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="closeFormModal"></button>
    </div>

    <confirm-modal v-if="showDeleteModal" @confirm="deletePortfolio" @cancel="closeDeleteModal">
      <p>Are you sure you want to delete {{ editedPortfolio.name }}?</p>
    </confirm-modal>
  </div>
</template>

<script>
import { toast } from "bulma-toast";
import PortfolioForm from "./forms/PortfolioForm";
import ConfirmModal from "./ConfirmModal";
import {mapGetters} from "vuex";

export default {
  name: "PortfolioSelector",
  components: {
    PortfolioForm,
    ConfirmModal
  },
  computed: {
    ...mapGetters(['portfolios', 'selectedPortfolio'])
  },
  data() {
    return {
      isOpen: false,
      editedPortfolio: null,
      showFormModal: false,
      showDeleteModal: false
    }
  },
  methods: {
    onSelectPortfolio(portfolio) {
      this.$store.commit('setSelectedPortfolio', portfolio);
      this.isOpen = false;
    },
    onAddPortfolio() {
      this.showFormModal = true;
    },
    onEditPortfolio(portfolio) {
      this.editedPortfolio = portfolio;
      this.showFormModal = true;
    },
    onDeletePortfolio(portfolio) {
      this.editedPortfolio = portfolio;
      this.showDeleteModal = true;
    },
    closeFormModal() {
      this.editedPortfolio = null;
      this.showFormModal = false;
    },
    closeDeleteModal() {
      this.editedPortfolio = null;
      this.showDeleteModal = false;
    },
    onFormSubmit(portfolio) {
      if (!this.editedPortfolio) {
        this.$http.post('/portfolios', portfolio).then(res => {
          this.$store.commit('setSelectedPortfolio', res.data.data);
          this.$store.dispatch('fetchPortfolios');
          this.closeFormModal();
          this.isOpen = false;
          toast({
            message: 'Portfolio successfully added.',
            type: 'is-success',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }).catch(() => {
          toast({
            message: 'An unknown error occurred. Please try again later.',
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        });
      } else {
        this.$http.put(`/portfolios/${this.editedPortfolio.id}`, portfolio).then(res => {
          this.$store.commit('setSelectedPortfolio', res.data.data);
          this.$store.dispatch('fetchPortfolios');
          this.closeFormModal();
          this.isOpen = false;
          toast({
            message: 'Portfolio successfully updated.',
            type: 'is-success',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        }).catch(() => {
          toast({
            message: 'An unknown error occurred. Please try again later.',
            type: 'is-danger',
            dismissible: true,
            animate: { in: 'fadeIn', out: 'fadeOut' }
          });
        });
      }
    },
    deletePortfolio() {
      this.$http.delete(`/portfolios/${this.editedPortfolio.id}`).then(() => {
        this.$store.dispatch('fetchPortfolios');
        this.closeDeleteModal();
        this.isOpen = false;
      });
    }
  }
}
</script>

<style scoped lang="scss">
.is-portfolio-active {
  color: $primary;
  font-weight: bold;
}

.dropdown-menu {
  width: auto;

  .dropdown-item {
    &:hover {
      background-color: whitesmoke;
      color: #0a0a0a;
    }
  }
}
</style>
