<template>
  <div>
    <h2 class="title">{{ _coin ? 'Edit coin' : 'Add coin' }}</h2>
    <form @submit.prevent="onSubmit">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input v-model="coin.name" class="input" :class="{ 'is-danger': errors.name }" type="text" placeholder="Bitcoin">
        </div>
      </div>
      <div class="field">
        <label class="label">Symbol</label>
        <div class="control">
          <input v-model="coin.symbol" class="input" :class="{ 'is-danger': errors.symbol }" type="text" placeholder="BTC">
        </div>
      </div>

      <div class="field">
        <label class="label">Decimals</label>
        <div class="control">
          <input v-model="coin.decimals" class="input" :class="{ 'is-danger': errors.decimals }" type="number" min="0" step="1">
        </div>
      </div>

      <div class="field">
        <label class="label">Reference exchange</label>
        <div class="control">
          <input v-model="coin.ref_exchange" class="input" :class="{ 'is-danger': errors.ref_exchange }" type="text" placeholder="bitvavo">
        </div>
        <p class="help">The reference exchange is the exchange where the price data is fetched from.</p>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-primary" value="Submit">
        </div>
        <div class="control">
          <div class="button is-primary is-outlined" @click="onCancel">Cancel</div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { cloneDeep } from "lodash";

export default {
  name: "CoinForm",
  props: {
    _coin: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  data() {
    return {
      coin: {
        name: '',
        symbol: '',
        decimals: 0,
        ref_exchange: ''
      },
      errors: {
        name: false,
        symbol: false,
        decimals: false,
        ref_exchange: false
      }
    }
  },
  watch: {
    _coin(val) {
      this.coin = cloneDeep(val);
      delete this.coin.id;
    }
  },
  methods: {
    onSubmit() {
      if (this.validate()) {
        this.$emit('submit', this.coin);
      }
    },
    onCancel() {
      this.$emit('cancel');
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (!this.coin.name) {
        this.errors.name = true;
        valid = false;
      }

      if (!this.coin.symbol) {
        this.errors.symbol = true;
        valid = false;
      }

      if (this.coin.decimals === '' || this.coin.decimals < 0) {
        this.errors.decimals = true;
        valid = false;
      }

      return valid;
    },
    resetErrors() {
      this.errors = {
        symbol: false,
        decimals: false,
        ref_exchange: false
      };
    }
  },
  created() {
    if (this._coin) {
      this.coin = cloneDeep(this._coin);
      delete this.coin.id;
    }
  }
}
</script>

<style scoped>

</style>
