<template>
  <div>
    <h2 class="title">{{ _portfolio ? 'Edit portfolio' : 'Add portfolio' }}</h2>
    <form @submit.prevent="onSubmit">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input v-model="portfolio.name" class="input" :class="{ 'is-danger': errors.name }" type="text" placeholder="Name">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-primary" value="Submit">
        </div>
        <div class="control">
          <div class="button is-primary is-outlined" @click="onCancel">Cancel</div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { cloneDeep } from "lodash";

export default {
  name: "PortfolioForm",
  props: {
    _portfolio: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  data() {
    return {
      portfolio: {
        name: ''
      },
      errors: {
        name: false
      }
    }
  },
  watch: {
    _portfolio(val) {
      this.portfolio = cloneDeep(val);
      delete this.portfolio.id;
    }
  },
  methods: {
    onSubmit() {
      if (this.validate()) {
        this.$emit('submit', this.portfolio);
      }
    },
    onCancel() {
      this.$emit('cancel');
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (!this.portfolio.name) {
        this.errors.name = true;
        valid = false;
      }

      return valid;
    },
    resetErrors() {
      this.errors = {
        name: false
      };
    }
  },
  created() {
    if (this._portfolio) {
      this.portfolio = cloneDeep(this._portfolio);
      delete this.portfolio.id;
    }
  }
}
</script>

<style scoped>

</style>
