<template>
  <div>
    <h2 class="title">{{ _trade ? 'Edit trade' : 'Add trade' }}</h2>
    <form @submit.prevent="onSubmit">
      <div class="field">
        <label class="label">From amount</label>
        <div class="control">
          <input v-model="trade.from_amount" @input="trade.from_amount = parseFloat(trade.from_amount)" class="input" :class="{ 'is-danger': errors.from_amount }" type="number" min="1" step="1">
        </div>
      </div>

      <div class="field">
        <label class="label">From coin</label>
        <div class="control">
          <div class="select" :class="{ 'is-danger': errors.from_coin_id }">
            <select v-model="trade.from_coin_id">
              <option v-for="coin in coins" :key="coin.id" :value="coin.id">{{ coin.symbol }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field" v-if="trade.from_coin_id">
        <span class="has-text-grey">
          = {{ (trade.from_amount || 0) / Math.pow(10, getCoin(trade.from_coin_id).decimals) }} {{ getCoin(trade.from_coin_id).symbol }}
        </span>
      </div>

      <div class="field">
        <label class="label">To amount</label>
        <div class="control">
          <input v-model="trade.to_amount" class="input" :class="{ 'is-danger': errors.to_amount }" type="number" min="1" step="1">
        </div>
      </div>

      <div class="field">
        <label class="label">To coin</label>
        <div class="control">
          <div class="select" :class="{ 'is-danger': errors.to_coin_id }">
            <select v-model="trade.to_coin_id">
              <option v-for="coin in coins" :key="coin.id" :value="coin.id">{{ coin.symbol }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field" v-if="trade.to_coin_id">
        <span class="has-text-grey">
          = {{ (trade.to_amount || 0) / Math.pow(10, getCoin(trade.to_coin_id).decimals) }} {{ getCoin(trade.to_coin_id).symbol }}
        </span>
      </div>

      <div class="field">
        <label class="label">Fee</label>
        <div class="control">
          <input v-model="trade.fee" class="input" :class="{ 'is-danger': errors.fee }" type="number" min="0" step="1">
        </div>
      </div>

      <div class="field" v-if="trade.from_coin_id">
        <span class="has-text-grey">
          = {{ (trade.fee || 0) / Math.pow(10, getCoin(trade.from_coin_id).decimals) }} {{ getCoin(trade.from_coin_id).symbol }}
        </span>
      </div>

      <div class="field">
        <label class="label">Timestamp</label>
        <div class="control">
          <date-picker v-model="trade.timestamp" type="datetime" value-type="X" :input-class="errors.timestamp ? 'input is-danger' : 'input'"></date-picker>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-primary" value="Submit">
        </div>
        <div class="control">
          <div class="button is-primary is-outlined" @click="onCancel">Cancel</div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { cloneDeep } from "lodash";
import { mapGetters } from "vuex";
import DatePicker from 'vue2-datepicker';

export default {
  name: "TradeForm",
  components: {
    DatePicker
  },
  props: {
    _trade: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    ...mapGetters(['coins'])
  },
  data() {
    return {
      trade: {
        from_amount: 1,
        from_coin_id: null,
        to_amount: 1,
        to_coin_id: null,
        fee: 0,
        timestamp: null
      },
      errors: {
        from_amount: false,
        from_coin_id: false,
        to_amount: false,
        to_coin_id: false,
        fee: false,
        timestamp: false
      }
    }
  },
  watch: {
    _trade(val) {
      this.trade = cloneDeep(val);
      this.trade.timestamp = this.trade.timestamp.toString();
      delete this.trade.id;
    }
  },
  methods: {
    getCoin(id) {
      return this.coins.find(c => c.id === id);
    },
    onSubmit() {
      if (this.validate()) {
        this.$emit('submit', this.trade);
      }
    },
    onCancel() {
      this.$emit('cancel');
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (this.trade.from_amount === '' || this.trade.from_amount < 1) {
        this.errors.from_amount = true;
        valid = false;
      }

      if (!this.trade.from_coin_id) {
        this.errors.from_coin_id = true;
        valid = false;
      }

      if (this.trade.to_amount === '' || this.trade.to_amount < 1) {
        this.errors.to_amount = true;
        valid = false;
      }

      if (!this.trade.to_coin_id) {
        this.errors.to_coin_id = true;
        valid = false;
      }

      if (this.trade.fee === '' || this.trade.fee < 0) {
        this.errors.fee = true;
        valid = false;
      }

      if (this.trade.timestamp === null) {
        this.errors.timestamp = true;
        valid = false;
      }

      return valid;
    },
    resetErrors() {
      this.errors = {
        from_amount: false,
        from_coin_id: false,
        to_amount: false,
        to_coin_id: false,
        fee: false,
        timestamp: false
      };
    }
  },
  created() {
    if (this._trade) {
      this.trade = cloneDeep(this._trade);
      this.trade.timestamp = this.trade.timestamp.toString();
      delete this.trade.id;
    }
  }
}
</script>

<style scoped>

</style>
