<template>
  <div class="container">
    <h2 class="title">{{ _transaction ? 'Edit transaction' : 'Add transaction' }}</h2>
    <form @submit.prevent="onSubmit">
      <div class="field">
        <label class="label">Amount</label>
        <div class="control">
          <input v-model="transaction.amount" class="input" :class="{ 'is-danger': errors.amount }" type="number" min="1" step="1">
        </div>
      </div>

      <div class="field">
        <label class="label">Coin</label>
        <div class="control">
          <div class="select" :class="{ 'is-danger': errors.coin_id }">
            <select v-model="transaction.coin_id">
              <option v-for="coin in coins" :key="coin.id" :value="coin.id">{{ coin.symbol }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field" v-if="transaction.coin_id">
        <span class="has-text-grey">
          = {{ (transaction.amount || 0) / Math.pow(10, getCoin(transaction.coin_id).decimals) }} {{ getCoin(transaction.coin_id).symbol }}
        </span>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" v-model="transaction.is_deposit">
            Is deposit
          </label>
        </div>
      </div>

      <div class="field">
        <label class="label">Fee</label>
        <div class="control">
          <input v-model="transaction.fee" class="input" :class="{ 'is-danger': errors.fee }" type="number" min="0" step="1">
        </div>
      </div>

      <div class="field" v-if="transaction.coin_id">
        <span class="has-text-grey">
          = {{ (transaction.fee || 0) / Math.pow(10, getCoin(transaction.coin_id).decimals) }} {{ getCoin(transaction.coin_id).symbol }}
        </span>
      </div>

      <div class="field">
        <label class="label">Timestamp</label>
        <div class="control">
          <date-picker v-model="transaction.timestamp" type="datetime" value-type="X" :input-class="errors.timestamp ? 'input is-danger' : 'input'"></date-picker>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" class="button is-primary" value="Submit">
        </div>
        <div class="control">
          <div class="button is-primary is-outlined" @click="onCancel">Cancel</div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { cloneDeep } from "lodash";
import DatePicker from 'vue2-datepicker';

export default {
  name: "TransactionForm",
  components: {
    DatePicker
  },
  props: {
    _transaction: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    ...mapGetters(['coins'])
  },
  data() {
    return {
      transaction: {
        amount: 1,
        coin_id: null,
        is_deposit: true,
        fee: 0,
        timestamp: null
      },
      errors: {
        amount: false,
        coin_id: false,
        fee: false,
        timestamp: false
      }
    }
  },
  watch: {
    _transaction: function (val) {
      this.transaction = cloneDeep(val);
      this.transaction.timestamp = this.transaction.timestamp.toString();
      delete this.transaction.id;
    }
  },
  methods: {
    getCoin(id) {
      return this.coins.find(c => c.id === id);
    },
    onSubmit() {
      if (this.validate()) {
        this.$emit('submit', this.transaction);
      }
    },
    onCancel() {
      this.$emit('cancel');
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (this.transaction.amount === '' || this.transaction.amount < 1) {
        this.errors.amount = true;
        valid = false;
      }

      if (!this.transaction.coin_id) {
        this.errors.coin_id = true;
        valid = false;
      }

      if (this.transaction.fee === '' || this.transaction.fee < 0) {
        this.errors.fee = true;
        valid = false;
      }

      if (this.transaction.timestamp === null) {
        this.errors.timestamp = true;
        valid = false;
      }

      return valid;
    },
    resetErrors() {
      this.errors = {
        amount: false,
        coin_id: false,
        fee: false,
        timestamp: false
      };
    }
  },
  created() {
    if (this._transaction) {
      this.transaction = cloneDeep(this._transaction);
      this.transaction.timestamp = this.transaction.timestamp.toString();
      delete this.transaction.id;
    }
  }
}
</script>
